.icons a{
	text-decoration: none;
	color: #fff;

}
.icons ion-icon{
	font-size: 200px;
	padding-left: 15px;
	padding-top: 2px;
	transition: 0.3s ease;
	padding-left: 30px;

}
.icon ion-icon:hover{
	color: #ff7200;
}
.icons .fb{
	color:blue ;
}
.icons .ig{
	   color: #f09433; 
	
}
.icons .tw{
	color: skyblue;
}
.icons .gg{
	color:blue ;
}
.icons .tik{
	color: black;
}